* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Palanquin", sans-serif;
  background: #eff1ff;
}

header {
  background-color: #8e9aaf;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header img {
  margin: 3.2rem auto;
}

header h1 {
  font-family: "Staatliches", cursive;
  font-size: 4rem;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  background-color: #cbc0d3;
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-font-smoothing: antialiased;

  padding: 8px;
  margin-bottom: 2.9rem;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.8rem 3.2rem 6rem;
}

p:nth-child(1) {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #23053a;

  height: 7.5rem;
  text-align: center;
  margin-top: 1.4rem;
  margin-bottom: 6.4rem;
}

.cards {
  display: grid;
  gap: 3.2rem;
  margin-top: 5rem;
}

.cards .card {
  position: relative;
  width: 32rem;
  height: fit-content;
}

.cards .card h2 {
  font-size: 2rem;
  font-family: "staatliches", cursive;
  font-weight: 400;
  color: #4a4e69;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background: #feeafa;
  border-radius: 2rem;
  width: auto;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 0 2.3rem;
}

.cards .card img {
  width: 100%;
  border-radius: 2rem;
  -webkit-box-shadow: 10px 10px 130px -51px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 130px -51px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 130px -51px rgba(0, 0, 0, 0.75);
}
